<h1>Add a new item</h1>

<form action="/make-a-new-item" method="post">

<div>
<label for = "1">Link URL</label>
<input id = "1" type = "text" name = "link">
</div>

<div>
<label for = "2">Link Description</label>
<input id = "2" type = "text" name = "desc">
</div>

<div>
<label for = "3">Thumbnail URL</label>
<input id = "3" type = "text" name = "thumb">
</div>

<button>Create item</button>
</form>
